@model QA.ContactUs.Models.Contact
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="background-color: grey; padding: 10px; border-radius: 5px">
            <!--<form action="#" method="post">-->
            @using (Html.BeginForm())
            {
                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <span></span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Name)
                        <!--<input type="text" class="form-control" name="Name" required="">-->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Email</label>
                        <span></span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Email)
                        <!--<input type="email" class="form-control" name="Email" required="">-->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Message</label>
                        <span></span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Message)
                        <!--<textarea name="Message" class="form-control" required=""></textarea>-->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input type="submit" value="SEND" name="Send">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        @ViewBag.MessageSent
                    </div>
                </div>
                <div class="clear"> </div>
                <!--</form>-->
            }
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>